/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
    -webkit-box-shadow: 2px 5px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 12px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 5px 12px -4px rgba(0,0,0,0.75);
    padding-top: 10px;
    margin-top: 50px;
    border: 2px solid rgb(194, 193, 193);
    background-color: #fff;
    text-align: center;
    border-radius: 6px;
    width: 400px;
}

.container span {
    font-size: 30px;
    color: rgb(131, 128, 128);
}

.form-flex {
    display: flex;
    justify-content: space-around;
}

.input-documents + div {
    margin-left: 15px;
}