
.table-content {
    border: 2px solid gray;
    border-radius: 8px;
}

.active {
    color: rgb(13, 128, 2);
}

.active:hover {
    color: rgb(17, 167, 3);
    transition: 0.3s;
}

.inactive {
    color: rgb(168, 2, 2);
}

.inactive:hover {
    color: rgb(214, 3, 3);
    transition: 0.3s;
}

.address-icon {
    color: rgb(223, 71, 1);
}

.address-icon:hover {
    color: rgb(255, 81, 0);
    transition: 0.3s;
}

.info-client {
    color: rgb(83, 83, 83);
}

.info-client:hover {
    filter: contrast(4);
    transition: 0.3s;
}

.add-btn {
    margin: 2px 0px 30px 0px;
}

.non-client {
    color: rgb(104, 103, 103);
    right: 15px;
}
